@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1655777767247') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuti:before {
  content: "\e7aa";
}

.icon-changpian:before {
  content: "\e607";
}

.icon-changjingguanli:before {
  content: "\eb61";
}

.icon-ziyuan:before {
  content: "\e620";
}

.icon-qingganganqing:before {
  content: "\e628";
}

